$font: Verdana, Geneva, Tahoma, sans-serif;
$text-color: white;
$barmargin: 7%;
$imgmargin: 9%;
$mediawidth: 768px;
$position: absolute;
%t{
    color: $text-color;
    margin-left: 50%;
}
%bar{
    position: $position;
    margin-top: 1em;
    z-index:-1;
}

.body {
    width: 100%;
    height:100%;
    position: $position;
    background-color: black;
    z-index:-2;
}
p{
    color:$text-color;
    font-family: $font;
    font-size: 120%;
    padding-left: 10%;
    background-color: #181819;
}
#bar1,#bar4{
   @extend %bar;
    margin-left: 0%;  
}
#bar2,#bar5{
    @extend %bar;
    margin-left: $barmargin;  
}
#bar3,#bar6{
    @extend %bar;
    margin-left: 2*$barmargin;
}
@media only screen and (max-width : $mediawidth) {
    
    #bar1,#bar2,#bar3,#bar4,#bar5,#bar6{
        display: none;
    }
}
@media only screen and (min-width : $mediawidth) {
    %img1{
        position: $position;
        margin-left: 4%;
        margin-bottom: 5%;
    }
#img2,#img6{
    @extend %img1;
}
#img3,#img7{
    position: $position;
    margin-left: 4%+$imgmargin;
}
#img4,#img8{
    position: $position;
    margin-left: 4%+2*$imgmargin;
}
}
#t1{
    @extend %t;
     margin-top: 43%;
     margin-bottom: 50%;
}
#t2{
    @extend %t;
}
.tree_label{
    float: left;
    width: 15%;
    font-family: $font;
    font-size: 75%;
}
input{
    display: inline-block;
}
.tree1{
margin-left: 5%;
}
.tree2{
    margin-left: 5%;
    margin-top: 9%;
    }
.tree_container{
    width: 50%;
    float:left;
    margin-top: 5%;
}
.points_container{
    width:20%;
    margin-right: 2%;
    margin-top: 6%;
    float: left;
    font-family: $font;
    font-size: 112%;
}
.points{
    margin-top: 10%;
    color: #385066;
}
#no_points{
    color: $text-color;
    margin-left: 16%;
}
#points_Spent{
    margin-top: 20px;
}